<template>
  <div>
    <h1>Таблиця множення</h1>
  </div>

  <ul class="border" v-for="n in array" v-bind:key="n">
    <li v-for="m in array" v-bind:key="m">
      {{ n }} * {{ m }} = {{ n * m }}
    </li>
  </ul>
</template>

<script>
export default {
  data: () => ({
    array: [2, 3, 4, 5, 6, 7, 8, 9]
  })
}
</script>

<style>
h1 {
  text-align: center;
}

.border {
  border: 1px solid red;
}

ul {
  display: inline-block;
  margin: 20px;
}

li {
  padding: 5px;
}

.green {
  color: green;
}

.blue {
  color: blue;
}
</style>
